@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --primary-dark: #333;
  --primary-light: #efefef;
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100svh;
}

body {
  background-color: var(--primary-light);
}

header {
  padding: 2rem;
  font-size: 2rem;
  color: var(--primary-dark);
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  gap: 4rem;
}

input[type="search"] {
  padding: 1rem;
  font-size: 1.5rem;
  margin-right: 2rem;
}

.search-submit-btn {
  padding: 1rem;
  width: 8rem;
}

.weather-info {
  font-size: 3rem;
  text-align: center;

  padding: 2rem;
  border-radius: 1rem;
}
